<h1>Editing Geofence</h1>

<%= render 'form', geofence: @geofence %>

<div class="float-left pl-1">
  <%= link_to 'Show', @geofence, class: "btn btn-primary" %> |
  <%= link_to 'Back', geofences_path, class: "btn btn-dark" %>
</div>
