<h1>Editing Collaborator</h1>

<%= render 'form', collaborator: @collaborator %>

<div class="float-left pl-1">
  <%= link_to 'Show', @collaborator, class: "btn btn-primary" %>
  <%= link_to 'Back', collaborators_path, class: "btn btn-dark" %>
</div>
